<title>职工互助</title>
<style type="text/css">
    .sm_head {
        min-width: 320px;
        max-width: 768px;
        height: 36px;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0 auto;
        color: #4c4c4c;
        width: 100%;
        z-index: 99;
        background: -ms-linear-gradient(top, #fff, #ccc); /* IE 10 */
        background: -moz-linear-gradient(top, #fff, #ccc); /*火狐*/
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc)); /*谷歌*/
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc)); /* Safari 4-5, Chrome 1-9*/
        background: -webkit-linear-gradient(top, #fff, #ccc); /*Safari5.1 Chrome 10+*/
        background: -o-linear-gradient(top, #fff, #ccc); /*Opera 11.10+*/
    }
    .sm_head h3 {
        height: 36px;
        line-height: 36px;
        width: 100%;
        font-size: 0.14rem;
        text-align: center;
    }
    .return_user {
        position: absolute;
        left: 30px;
        top: 7px;
        height: 36px;
        line-height: 36px;
        cursor: pointer;
    }
    .return_user img {
        vertical-align: middle;
    }
    .sm_body {
        margin-top: 36px;
    }
    .title {
        height: 30px;
        line-height: 30px;
        font-size: 0.14rem;
        text-align: left;
        margin-left: -5px;
    }
    .sm_body {
        padding: 0 3%;
    }
    .medicalForm {
        padding: 10px 0;
    }
    .formDlownd {
        height: 30px;
        line-height: 30px;
        width: 80px;
        text-align: center;
        color: #fff;
        background: #0778B2;
        font-size: 0.12rem;
        border-radius: 3px;
    }
    .medicalForm_list li {
        line-height: 30px;
        font-size: 0.12rem;
    }
    .medicalForm_list li a {
        text-decoration: underline;
        color: #0A00A1;
    }
    .list_dlownd {
        color: #F80500;
        display: inline-block;
    }
    .medicalForm_list {
        margin-top: 16px;
    }


    .news_banner {
        height: 222px;
        padding: 0px;
        /*border-bottom: 1px solid #e0e0e0;*/
        background: #EEEEEE;
    }

    .slide-inner-title {
        height: 28px;
        line-height: 28px;
        font-size: 0.14rem;
    }

</style>

<div class="serviceMedical">
    <div class="sm_head">
        <h3>职工互助</h3>
        <span class="return_user">
            <img src="/images/user/return_game.png" width="70%" />
        </span>
    </div>

    <div class="sm_body">

        <div class="news_banner">
            <div class="swiper-container swiper-container3">
                <div class="swiper-wrapper">
                    <!-- @*<div class="swiper-slide">
                        <a href="~/info/demo">
                            <span class="slide-inner-title">困难职工调查摸底工作启动</span>
                            <img class="topImg" src="~/images/serviceCenter/text-indent.jpg" width="100%"/>
                        </a>
                    </div>*@ -->
                    <div class="swiper-slide">
                        <a href="#PhoneDetail/1761342329000000001">
                            <span class="slide-inner-title">《长兴县在职职工住院医疗互助活动实施办法》</span>
                            <img class="topImg" src="/images/serviceCenter/medical.jpg" width="100%" />
                        </a>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination3"></div>
            </div>
        </div>

        
    </div>

</div>
