<title>我要维权</title>
<style type="text/css">
    .serviceLaw_img{
        position:relative;
        margin-bottom:40px;
    }
    .lawConsultation {
        position: fixed;
        height: 36px;
        line-height: 36px;
        width: 100%;
        text-align: center;
        font-size: 0.14rem;
        color: #fff;
        bottom: 60px;
        left: 0;
    }
    .serviceLaw_banner{
        height:50px;
        line-height:50px;
    }
    .slBanner_left {
        float:left;
        width: 14%;
        line-height: 20px;
        font-size: 0.14rem;
        margin-top: 5px;
        text-align: center;
        color: #AC1105;
        font-weight: 900;
    }
    .slBanner_right{
        display:inline-block;
        float:left;
        width:85%;
        height:50px;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .slBanner_right .swiper-slide{
        font-size:0.13rem;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap;
        text-align:left;
    }
    .callImg {
        display: inline-block;
        height: 36px;
        width: 36px;
        margin-left:10px;
    }
    .call {
        height: 36px;
        line-height: 36px;
        vertical-align: top;
        color: #fff;
        background: #A40000;
        width: 50%;
        display: inline-block;
        border-radius: 3px;
    }
</style>

<div class="serviceLaw">
        <div class="serviceLaw_head">
            <img src="/images/serviceCenter/serviceLaw_head.jpg" width="100%"/>
        </div>
        <div class="serviceLaw_banner">
            <div class="slBanner_left">
                知识<br />
                学习
            </div>
            <div class="slBanner_right">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="http://mp.weixin.qq.com/s/XS_mKwOUHCq0Dh2o7p9WmQ">
                                “临时工”没保障？这些法律法规维护他们权益！
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://mp.weixin.qq.com/s/ZojoCodV0QPiRjJWtnRL5w">
                                “关于女职工劳动保护的11个干货答疑
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="http://mp.weixin.qq.com/s/Kq1xKAclY6E2OZ-OXFmoag">
                                【提醒】劳动合同怎么签？请看这份"防坑宝典"!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="serviceLaw_img">
            <img src="/images/serviceCenter/service_law.jpg" width="100%" />
            <div class="lawConsultation">
                <a class="call" href="#serviceLawform">
                    留言咨询
                </a> 
                <a class="callImg" href="tel:0572-6035927">
                    <img src="/images/serviceCenter/call.png" width="80%" style="margin-top:10%" />
                </a>               
            </div>
        </div>
</div>
