<title>更多服务</title>
<div class="exchangemore-box">
    <div class="top_nav">
        <div class="back" onclick="history.go(-1);"></div>
        <div class="top_title">全部栏目</div>
    </div>
</div>
<h5 class="exchange-tab"><span></span>会员服务<span></span></h5>
<div class="service-menu service-menu-more">
    <ul>
        <!-- @*<li><img src="~/images/union/xf.png" /><span>信访</span></li>*@ -->
        <li><img onclick="location.href='#serviceLaw'" src="/images/union/wq.png" /><span>维权</span></li>
        <li onclick="location.href='#zgTeacher/bf'"><img src="/images/union/bf.png" /><span>帮扶</span></li>
        <li><img onclick="location.href='#serviceMedical'" src="/images/union/ylhz.png" /><span>医疗互助</span></li>
        <li onclick="ghqq()"><img src="/images/union/ghqq.png" /><span>工会鹊桥</span></li>
        <li><img src="/images/union/xx.png" onclick="location.href='#usergame'" /><span>休闲娱乐</span></li>
        <li><img src="/images/union/jt.png" onclick="location.href='#zgTeacher'" /><span>职工讲堂</span></li>
        <li><img src="/images/union/sw.png" onclick="location.href='http://wk3.bookan.com.cn/?id=20505&token=B38Ke1ZtUGADdVs7XHBXYwdiAzpXZAIyVHZXKQd/VTwGdwA0AXFRPwZwBG8AP1ZmUTZWb1FlUWMEJgB+AHgDawdlCjRWYVAmA21bI1w6VzsHZgM5V2ACP1RiVycHcVVxBnEAOgE+UWAGcARkAD9WZVE0VmpRYVFhBDIAZgBoAzQHeQ==!#/magazine/17066'" /><span>职工书屋</span></li>
        <!-- @*<li><img src="~/images/union/bdxz.png" /><span>表单下载</span></li>*@ -->
        <!-- @*<li><img src="~/images/union/yhssp.png" /><span>隐患随手拍</span></li>*@ -->
        <!-- @*<li><img src="~/images/union/xlcs.png" /><span>心理测试</span></li>*@ -->
       	<li onclick="location.href='#promote'"><img src="/images/union/yhcx.png" /><span>优惠促销</span></li>
        <li onclick="location.href='http://cxrc.zjcxhrss.gov.cn/'"><img src="/images/union/zgjy.png" /><span>职工就业</span></li>
    </ul>
</div>


<div id="ghqq_box" style="background:rgba(0,0,0,0.5);position:fixed;z-index:99;display:none;font-size:14px;left:0;top:0;width:100%;height:100%;">
    <div style="padding:10px;border-radius:5px;background:#FFF;position:absolute;top:27%;left:0;right:0; margin:auto;width:250px;">
        <p style="padding:10px 0;">长兴县总工会“工会鹊桥”是长兴工会旗下公益交友平台，主要为我县单身职工提供交友联谊服务。</p>
        <p>“工会鹊桥”依托工会的组织网络优势，为单身职工提供一个纯公益的交友平台，网内会员信息真实可靠、个人资料安全保密，不作任何商业用途。</p>
        <p style="text-align:center;margin-top:15px;"><a href="http://m.123zou.com/7116" style="display:inline-block;width:100px;height:35px;border-radius:5px;background:#ff0000;color:#FFF;line-height:35px;">去报名</a></p>
        <p style="text-align:center;width: 100%;position:absolute;bottom:-40px;left:0;right:0;margin:auto;"><a style="font-size:30px;color:#FFF;-webkit-transform:translateY(100px);" onclick="ghqq_box.style.display = 'none';">×</a></p>
    </div>
</div>
