<title>入会建会</title>
<style type="text/css">
	*{margin:0;padding:0;}
	li{list-style:none;}
	a{text-decoration:none; color:#000000;}
	body,html{width:100%;height:100%;}
	body{
	    background:#F5F5F5;
	}
	.join_box{
	    width:100%;
	}
	.join_top{
	    width:100%;
	}
	.top_img{
	    display:block;
	    width:100%;
	}

	.join_main{
	    width:100%;
	}
	.mian_btn{
	    width:100%;
	    height:0.2rem;
	    display:table;
	}
	.mian_btn .btn_a{
	    display:table-cell;
	    width:20%;
	    padding:0.15rem 0;
	    background:#ffffff;
	    text-align:center;
	    font-size:0.16rem;
	    font-family:'Microsoft YaHei';
	    font-weight:bold;
	    color:#323232;
	}
	.mian_btn .btn_join{
	    color:red;
	    border-bottom:0.03rem solid red;
	}
	.join_list{
	    padding:0.15rem;
	}
	.create_list{
	    display:none;
	    padding:0.15rem;
	}
	.join_list li,.create_list li{
	    margin-bottom:0.15rem;
	    padding-top:0.15rem;
	    background:#ffffff;
	}
	.p_title{
	    margin-bottom:0.15rem;
	    padding:0 0.15rem;
	    font-size:0.15rem;
	    font-family:'Microsoft YaHei';
	    color:#323232;
	}
	.p_look{
	    height:0.3rem;
	}
	.sp_left{
	    padding-left:0.15rem;
	    float:left;
	    font-size:0.13rem;
	    font-family:'Microsoft YaHei';
	    color:#cccccc;
	}
	.sp_right{
	    padding-right:0.15rem;
	    float:right;
	    font-size:0.13rem;
	    font-family:'Microsoft YaHei';
	    color:#cccccc;
	}
	.sp_left{
	    margin-left:0.15rem;
	}	
</style>

<div class="join_box">
    <div class="join_top">
        <img class="top_img" src="/images/rhjh.jpg" />
        <!-- @*<p class="top_text"><span>如何成立工会？</span></p>*@ -->
    </div>

    <div class="join_main">
        <div class="mian_btn">
            <a class="btn_a btn_join">我要入会</a><a class="btn_a btn_create">我要建会</a>
        </div>
        <ul class="join_list">
            <li>
                <a href="#phonedetail/1822472582400000043">
                    <p class="p_title">如何加入工会？</p>
                    <p class="p_look"><span class="sp_left" style="display:none;"><span class="look_num">0</span>阅读</span><span class="sp_right">2018-4-24</span></p>
                </a>
            </li>
            <li>
                <a href="#phonedetail/1822472243100000039">
                    <p class="p_title">常见问题详解</p>
                    <p class="p_look"><span class="sp_left" style="display:none;"><span class="look_num">0</span>阅读</span><span class="sp_right">2018-4-24</span></p>
                </a>
            </li>
        </ul>
        <ul class="create_list">
            <li>
                <a href="#phonedetail/1822472476000000041">
                    <p class="p_title">如何成立工会？</p>
                    <p class="p_look"><span class="sp_left" style="display:none;"><span class="look_num">0</span>阅读</span><span class="sp_right">2018-4-24</span></p>
                </a>
            </li>
            <li>
                <a href="/Scripts/download/基层工会组织建设实用操作手册.pdf">
                    <p class="p_title">层工会组织建设实用操作手册</p>
                    <p class="p_look"><span class="sp_left" style="display:none;"><span class="look_num">0</span>阅读</span><span class="sp_right">2018-4-24</span></p>
                </a>
            </li>
        </ul>
    </div>
</div>