<style type="text/css">
    .ep_head {
        min-width: 320px;
        max-width: 768px;
        height: 36px;
        position: fixed;
        top: 0;
        margin: 0 auto;
        color: #4c4c4c;
        width: 100%;
        z-index: 99;
        background: -ms-linear-gradient(top, #fff, #ccc); /* IE 10 */
        background: -moz-linear-gradient(top, #fff, #ccc); /*火狐*/
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc)); /*谷歌*/
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc)); /* Safari 4-5, Chrome 1-9*/
        background: -webkit-linear-gradient(top, #fff, #ccc); /*Safari5.1 Chrome 10+*/
        background: -o-linear-gradient(top, #fff, #ccc); /*Opera 11.10+*/
    }

        .ep_head h3 {
            height: 36px;
            line-height: 36px;
            width: 100%;
            font-size: 0.14rem;
            text-align: center;
        }

    .return_user {
        position: absolute;
        left: 30px;
        top: 7px;
        height: 36px;
        line-height: 36px;
    }

        .return_user img {
            vertical-align: middle;
        }
    .ep_body{
        margin-top:36px;
        padding:10px 3%;
    }
    .ep_list li h3{
        height:30px;
        line-height:30px;
        font-size:0.13rem;
    }

    .ep_list li{display:none;}
</style>

<div class="zgTeacher">
    <div class="ep_head">
        <h3 class='title'></h3>
        <span class="return_user">
            <img src="/images/user/return_game.png" width="70%" />
        </span>
    </div>
    <div class="ep_body">
        <ul class="ep_list">
            <li>
                <h3>2017年县总工会免费送教学菜单及申请表</h3>
                <div class="ep_img">
                    <a href="http://union.123zou.com/filedown/20170717020.docx">
                        <img src="/images/serviceCenter/ep_1.png?v=1" width="100%"/>
                    </a>
                </div>
            </li>
            <li>
               <h3>关于印发《长兴县困难职工帮扶实施办法》的通知(试行)</h3>
               <div class="ep_img">
                    <a href="/Scripts/download/长兴县困难职工帮扶实施办法.doc">
                        <img src="/images/serviceCenter/bf_big.png" width="100%"/>
                    </a>
                </div>
            </li>

        </ul>
    </div>
</div>
