<title>二维码</title>
<style>
	*{margin:0;padding:0;}
	body,html{width:100%;height:100%;}
	.code-title{height:0.7rem;text-align: center;}
	.code-title h3{font-size:0.15rem;padding:0.16rem;font-weight:100;}
	.code-title h5{font-size:0.12rem;color:#AAA;font-weight:100;}
	article{background:#F5F5F5;}
	article nav{
		width:100%;
		height:1.5rem;
		background-size:3.75rem 2rem;
		background-repeat:no-repeat;
		margin-bottom:0.2rem;
		/*text-align: center;*/
        position:relative;
	}
	article nav img{display:block; width:1rem;height:1rem;position:absolute;top:0.25rem;left:0.48rem;}
        article .redERM {
            background-image: url(/images/union/redBg.jpg);
            background-size:100% 100%;
        }
        article .blueERM {
            background-image: url(/images/union/blueBg.jpg);
            background-size: 100% 100%;
        }
	article nav h5{font-size:0.12rem;margin-bottom:0.25rem;}
	article nav h3{font-size:0.15rem;}
	section{position:fixed;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.9);}
    .workerBg {
        width: 3.45rem;
        height:4rem;
        margin: 0.25rem auto;
        background: url(/images/union/worker_bg.jpg);
        background-size:100% 100%;
    }
    .memberBg {
        width: 3.45rem;
        height:5rem;
        margin: 0.25rem auto;
        background: url(/images/union/member_bg.jpg);
        background-size: 100% 100%;
    }
    /*.wokerDiv {
        width: 2.86rem;
        height:2.77rem;
        margin: 0 auto;
        background: url(/images/ercode_bg01.png);
        background-size:100% 100%;
        position:relative;
    }
    .memberDiv {
        width: 2.86rem;
        height: 2.77rem;
        margin: 0 auto;
        background: url(/images/ercode_bg02.png);
        background-size: 100% 100%;
        position: relative;
    }*/
    .whiteWorker {
        width: 1.82rem;
        height: 1.81rem;
        margin:0 auto;
        position: relative;
        top:1.7rem;
    }
    .whiteMember {
        width: 1.82rem;
        height: 1.81rem;
        margin: 0 auto;
        position: relative;
        top:2.6rem;
    }

    section img {
        display: block;
        width: 1.8rem;
        height: 1.8rem;
        margin: 0 auto;
        position: absolute;
        top: 0.01rem;
        left: 0;
        right: 0;
    }
    .member_title {
        margin-bottom:0.29rem;
        text-align: center;
        font-size: 0.2rem;
        font-family:'Microsoft YaHei';
        font-weight:bold;
        color: #000000;
    }
    .member_text {
        margin-bottom:0.31rem;
        padding:0 0.3rem;
        text-indent:0.2rem;
        font-size: 0.15rem;
        font-family: 'Microsoft YaHei';
        color: #000000;
    }
</style>

<div id="ercode">
		<article>
			<div class="code-title">
				<h3>请选择下列二维码进行保存</h3>
				<h5>（请妥善保存，勿轻易向无关人员展示）</h5>
				
			</div>
			<nav class="redERM">
				<img v-bind:src="companyCode" v-on:click="showerId=1">
			</nav>
			<nav class="blueERM">
				<img v-bind:src="memberCode" v-on:click="showerId=2">
			</nav>
		</article>

		<section v-if="showerId" v-on:click="showerId=0">
            <div  v-bind:class="showerId==1?'workerBg':'memberBg'">
                <!-- <h5 class="member_title" v-bind:style="{'display':showerId==1?'none':'block'}">中华全国总工会入会申请书</h5>
                <h5 class="member_title" v-bind:style="{'display':showerId==1?'block':'none'}">工作人员信息采集专用</h5>
                <p class="member_text" v-bind:style="{'display':showerId==1?'none':'block'}">我自愿加入中华全国总工会，遵守工会章程，执行工会决议，积极参加工会活动，为把我国建设成富强、民主、文明的社会主义国家而努力奋斗。</p> -->
                <div  v-bind:class="showerId==1?'whiteWorker':'whiteMember'" v-on:click="cancelBubble($event)">
                    <img v-bind:src="showerId==1?companyCode:memberCode" />
                </div>
            </div>
			
		</section>
	</div>